.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  --sidebar-blue: hsl(201, 79%, 46%);
  --header-white: hsl(0, 0, 100%);
  --main-background: hsl(214, 32%, 91%);
}

.header {
  background-color: var(--header-white);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.sidebar {
  background-color: var(--sidebar-blue);
  grid-row: 1 / span 2;
}

.main-content { 
  background-color: var(--main-background);
}