* {
  margin: 0;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
  --sidebar-blue: hsl(201, 79%, 46%);
  --header-white: hsl(0, 0%, 99%);
  --main-background: hsl(214, 32%, 91%);
}

.container > div {
  padding: 0 30px;
}

h3 {
  padding-top: 5px;
}

.header {
  background-color: var(--header-white);
  display: grid;
  grid-template-columns: 2fr 1fr;
  position: relative;
  box-shadow: 0 3px 5px hsl(0, 0%, 81%);
}

.search {
  display: flex;
  align-items: center;
}

.search > input {
  flex: 1;
  border: none;
  border-radius: 15px;
  height: 30px;
  background-color: var(--main-background);
}

.search > label {
  padding: 5px 10px 0 0;
}

.profile-icons {
  display: flex;
  align-items: center;
  justify-content: right;
}

.profile-icons > * {
  padding: 0 10px;
}

.avatar img {
  height: 50px;
  width: 60px;
}

.user-name,
.profile-greeting p {
  font-weight: bold;
}

.profile-name-announce,
.profile-name-anounce .profile-greeting {
  display: flex;
  align-items: center;
}

.profile-name-avatar img {
  height: 80px;
  width: 100px;
  padding-right: 10px;
}

.post-action-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  color: var(--header-white);
  background-color: var(--sidebar-blue);
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
}

.sidebar {
  background-color: var(--sidebar-blue);
  grid-row: 1 / span 2;
}

.main-content { 
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: 3fr 1fr;
}

h3.main-title {
  padding: 25px 0 10px 0;
}

.left-main-area {
  grid-row: 1 / span 2;
  padding-right: 20px;
}


.projects {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.project-card {
  padding: 25px;
  background-color: var(--header-white);
  border-radius: 10px;
  border-left: 10px solid gold;
}

.project-card p {
  height: 90px;
}

.card-actions {
  display: flex;
  justify-content: right;
}

.card-actions img {
  height: 20px;
  width: 20px;
  padding: 0 10px;
}

.lower-right-main {
  grid-column: 2;
  grid-row: 2;
}
